# Flask 配置
FLASK_ENV=development
FLASK_PORT=5000
SECRET_KEY=remake-ai-secret-key-2026
JWT_SECRET_KEY=jwt-secret-key-remake-ai-2026

# ComfyUI 配置
COMFYUI_URL=http://127.0.0.1:8188

# 数据库配置
DATABASE_PATH=remake_ai.db
